﻿@model EmailForm.Models.FormViewModel

@{
    ViewData["Title"] = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Please enter your email</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Submit" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="email" />
                <span asp-validation-for="Email" class="text-danger" id="emailValidation"></span>
            </div>
            <div class="form-group">
                <a onclick="submitForm(this)" class="btn btn-success" style="color:antiquewhite; cursor: pointer">Submit</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
